<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div align="center" class="p-3 mb-2 bg-info text-white"><h2>About Us</h2></div>
    <div align="center" class="p-0 mb-0 bg-secondary text-white">&nbsp;</div>
    
    <br/><br/>
    <div align="center">
        <h3>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h3>
    </div>
    <br/><br/>
    <div align="center" class="p-0 mb-0 bg-secondary text-white">&nbsp;</div>


    
</body>
</html>