<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');
        body  
        {  
            background-image:url("{{MEDIA_URL}}/images/car_forest.jpg") ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .font_shadows_into_light {
            font-family: 'Shadows Into Light', cursive;
          }
    </style> 
</head>

    <body>

    <!--Add a nav bar here -->
    {% include "djangoapp/navbar.html" with page="review" %} 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                   <p class="font-mono-space text-white">Dealership Review</p>
                </li>
            </ul>
        </div>
        {% if not user.is_authenticated  %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="{% url 'djangoapp:login' %}" class="d-flex input-group w-auto" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" class="form-control rounded">
                        &nbsp;
                        <input type="password" placeholder="Password" name="psw" class="form-control rounded">
                        &nbsp;
                        <button type="submit" class="btn btn-primary me-1">Login</button>
                    </form>
                </li>
                <li class="nav-item">
                    &nbsp;
                    <button type="submit" class="btn btn-secondary mb-1 me-1"
                        onclick = "window.location.href='{% url 'djangoapp:registration' %}'">
                        Sign up
                      </button>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">({% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{ user }} {% endif %})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:logout' %}">Log out</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

    <br>
    <div class="container">
        <div class="p-3 mb-2 bg-info text-white">
            <h2>Reviews for {{ dealer.full_name}}</h2>
        </div>


    <!-- Add reviews as cards -->
    
    <div class="card-columns w-80">
    {% for review in dealer_reviews %}
    <div class="card {{review.borderColor}} mb-3" >
        <div class="card-header {{review.borderColor}}"><div class="w-25 h-25">
        <img class="card-img-left w-25 h-25" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png">
        </div></div>
        <div class="card-body">
          <h5 class="card-title">{{ review.car_make }}, {{review.car_model}} {{review.car_year}}</h5>
          <p class="card-text  {{review.textColor}} lead font_shadows_into_light">{{review.review}}</p>
        </div>
      </div>    

    {% endfor %}
    </div>
    </div>

    </body>

</html>