<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    {% include "djangoapp/navbar.html" with page="review" %} 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                   <p class="font-mono-space text-white">Dealership Review</p>
                </li>
            </ul>
        </div>
        {% if not user.is_authenticated  %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="{% url 'djangoapp:login' %}" class="d-flex input-group w-auto" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Username" name="username" class="form-control rounded">
                        &nbsp;
                        <input type="password" placeholder="Password" name="psw" class="form-control rounded">
                        &nbsp;
                        <button type="submit" class="btn btn-primary me-1">Login</button>
                    </form>
                </li>
                <li class="nav-item">
                    &nbsp;
                    <button type="submit" class="btn btn-secondary mb-1 me-1"
                        onclick = "window.location.href='{% url 'djangoapp:registration' %}'">
                        Sign up
                      </button>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">({% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{ user }} {% endif %})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:logout' %}">Add Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:logout' %}">Log out</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
    <h2>
        Reviews for {{ dealer.full_name}}
    </h2>


    <!-- Add reviews as cards -->
    
    <div class="card-columns w-80">
    {% for review in dealer_reviews %}
        <div class="card">
            <div class="w-25 h-25">
                <br/>&nbsp;
            <img class="card-img-left w-25 h-25" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png">
            </div>
            <div class="card-body">
                <div class="card-title">
                    {{ review.car_make }}, {{review.car_model}}
                </div>
                <div class="card-text">
                    {{ review.review }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    </body>

</html>